<div style="position:absolute;" >

      <div class="item">
        <img src="http://s7.postimg.org/8b4uk96kr/shutterstock_135657995.jpg" alt="Slide 2">
      </div>

  </div>


  <div id="container" style=" position:center; font-size: 30px">
    <h1 style="color:orange; font-family: 'Nixie One', 'Share Tech', sans-serif; font-size: 45px">Welcome to Jump start</h1>
    <p style="color:orange; font-size: 17px; padding-top:15px;"> Track your workouts,</br>browse and save helathy recipes</br> and view sample workout routines</p>
  </div>
