<% provide(:title, 'Home') %>

  <div class="page-header">
  </div>
  
  <div style="position:absolute;" id="carousel-example-generic" class="carousel slide carousel-fade">

    <div class="carousel-inner">

      <div class="item active">
        <img src="#" alt="Slide 1" />
      </div>

      <div class="item">
        <img src="#" alt="Slide 2">
      </div>

      <div class="item">
        <img src="#" alt="Slide 3">
      </div>
    </div>
  </div>

  <div class ="homepage-container center">
    <h1 class="center">Welcome to Jump Start</h1>
   
  </div>