<div id="monitor" class="panel panel-default tab-box">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-signal"></i>
            Monitoring report
        </h3>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#fuel-tab" data-toggle="tab">Today</a>
            </li>
        </ul>
    </div>
    
    
    <div class="panel-body">
        <div class="tab-content">
            <div id="fuel-tab" class="tab-pane active">
                <div class="row">
                    <div class="col-sm-12 col-md-7 chart">
                        
                        <div class="caption">
                            This weeks workout
                        </div>
                        <div id="workout-stats"></div>
                        <div class="legend">
                            <span id="up_body" class="label">up body</span>
                            <span id="low_body" class="label">low body</span>
                            <span id="abs" class="label">abs</span>
                        </div>
                    </div>
                    
                    <div class="col-sm-12 col-md-5 chart">
                        <div class="caption">
                            Todays workout 
                        </div>
                        <div id="todays-workout"></div>
                        <div class="legend">
                            <span id="circle_up_body" class="label">Upper body</span>
                            <span id="circle_low_body" class="label">Lower body</span>
                            <span id="circle_abs" class="label">Abs</span>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</div>