<% provide(:title, "Reports") %>

<!--h1>Reports and Charts</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">

      <h3>Report 1</h3>
 
      <img src=" -->
        <!--%= require 'gchart'
        Gchart.line(:size  => '500x300',
              :title       => "Minutes of Upper body",
              :bg          => 'ADC5E0',
              :graph_bg    => 'DCE8F5',
              :line_colors => '365E8B',
              :axis_with_labels => ['x,y'],
              :axis_labels => [' ','0|10|20|50'],
              :legend      => ['Leave Allowance'],
              :data        => Workout.pluck(:length),
              :alt         => "Leave Allowance Chart") %>
      " />

    </div>
</div-->