<div id="monitor" class="panel panel-default tab-box">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-signal"></i>
            Monitoring report
        </h3>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#fuel-tab" data-toggle="tab">Today</a>
            </li>
            <li>
                <a href="#co2-tab" data-toggle="tab">Week</a>
            </li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div id="fuel-tab" class="tab-pane active">
                <div class="row">
                    <div class="col-sm-12 col-md-7 chart">
                        <div class="caption">
                            Workouts today
                            
                        </div>
                        <div id="workout"></div>
                        <div class="legend">
                            <span id="upper_body" class="label">Upper body</span>
                            <span id="lower_body" class="label">Lower body</span>
                            <span id="core" class="label">Core</span>
                        </div>
                    </div>
                    
                    
                    
                    <div class="col-sm-12 col-md-5 chart">
                        <div class="caption">
                            Todays workout goals
                        </div>
                        <div id="workout-goals"></div>
                        <div class="legend">
                            <span id="completed" class="label">completed</span>
                            <span id="to-do" class="label">to do</span>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div id="co2-tab" class="tab-pane">
                <div class="row">
                    <div class="col-xs-12 chart">
                        <div class="caption">
                            Something else
                            <span class="label label-default">g/km</span>
                        </div>
                        <div id="co2-emissions"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>