
  <div class="col-sm-12 text-center">
    <h2 style="color:white">Your workout this week</h2>
      <div id="line-chart">
      	<%= content_tag :div, "", id: "workouts_chart", data: {workouts: Workout.chart_data,} %>
      </div>
      <br>
      <br
  </div>



<div id="index_workouts" class="">
  <% @workouts.each do |workout| %>
    <h2>
      <%= link_to workout.date.strftime("%A %B %d"), workout %>
    </h2>
    <h3>
      <span>Workout:</span>
      <%= workout.workout %>
    </h3>
  <% end %>
</div>