
  <div class="col-sm-12 text-center">
    <h1 style="color:white">Your workout stats this week</h1>
      <div id="line-chart">
      	<%= content_tag :div, "", id: "workouts_chart", data: {workouts: Workout.chart_data,} %>
      </div>
      <br>
      <br>
      <br>
  </div>



   <br>
   <h1 style="color:white">All workouts: </h1>
   <br>

<div id="index_workouts" class="">

  <% @workouts.each do |workout| %>
    <h2>
      <%= link_to workout.date.strftime("%A %B %d"), workout %>
    </h2>
    <h3>
      <span>Workout:</span>
      <%= workout.workout %>
    </h3>
  <% end %>
</div>
<br>
<br