  <div class="col-md-6">
      <div id="profile">
        <img src=http://s9.postimg.org/bwdevyc67/run.jpg>
  </div>
</div>


  <div class="col-md-6">
     <div id="profile_container" style="height: 480px; width: 480px; margin: 0 auto">
        <div id="profile">
        <h1 style="color:white"> Your Profile</h1>
        <br>
        <h2> Age: <%= current_user.age %></h2>
        <h2>Gender: <%= current_user.gender %></h2>
        <h2 >Height: <%= current_user.height %> ft.</h2>
        <h2 >Weight: <%= current_user.weight %> lbs</h2> 
        <br>
        <br>
        <h4 >"The Only Workout You'll Regret Is The One You Didn't Do"</h4> 
      

        
      </div>        
  </div>
</div>







