.main_content
	#plan_top.row

		.col-md-12
			#plan_info
				%h1= @plan.title
				%p.description= @plan.description
		
		- @move.each_slice(3) do |moves|
			.row
				- moves.each do |move|
					.col-md-4
						.move
							.image_wrapper
								= image_tag @recipe.image.url(:medium)
					




	.row
		.col-md-12
			= link_to "Back", root_path, class: "btn btn-default"
